asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
coinbase-commerce==1.0.1
distlib==0.3.7
Django==3.2.8
djangorestframework-jwt==1.11.0
filelock==3.12.2
idna==3.4
Pillow==10.0.1
pipenv==2023.7.23
platformdirs==3.9.1
PyJWT==1.7.1
pytz==2023.3.post1
razorpay==1.4.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
urllib3==2.0.5
virtualenv==20.24.2
virtualenv-clone==0.5.7
